body, html {
  height: 100%;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0% auto 9% auto;
}

.logo {
  width: 75px;
  height: 50px;
  display: block;
  margin: 1% auto;
}

.login-div{
  position: absolute;
  /* width: 25%;
  height: 60%; */
  width: 375px;
  height: 600px;
  top: 25%;
  left: 37.5%;
  padding: 1%;
  /* display: flex;
  justify-content: center; */
}

.btn{
  display: inline-block;
}

.login-form{
  width: 100%;
  height: 60%;
  margin-top: 10%;
}


.top-input{
  margin-top:10%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.bottom-input{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 10%;
}
